.dataTables_wrapper .dataTables_filter 	{ float: left; font-size:0.9rem; }
.dataTables_wrapper .dataTables_length	{ float: right; }
.dataTables_wrapper .dataTables_info 	{ font-size:0.8rem; }




